/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

h1, form{
  text-align: center;
}
button{
  display: block;
  margin: 20px auto;
}
ul{
  width: 100px;
  height: 200px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  text-align: center;
  width: 94px;
  height: 49px;
  border: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.app {
  margin-top: 25em;
  margin-left: 26em;
}

.celWrapper {
  float:left;
}

#showCelsiusValue {
  float:right;
  font-size: 100px;
  color: red;
  font-weight: bold;
}

#showFahrenheitValue {
  float:left;
  font-size: 100px;
  color: Blue;
  font-weight: bold;
}


